########################################
# Node.js & Express.js
########################################
**/node_modules/
**/npm-debug.log
**/yarn-debug.log
**/yarn-error.log
**/package-lock.json

########################################
# React.js / React Native / Expo
########################################
**/build/
**/dist/
**/android/
**/ios/
.expo/
.expo-shared/

########################################
# Environment Variables
########################################
**/.env

########################################
# OS / Editor / Misc Files
########################################
.DS_Store
Thumbs.db
.vscode/
.idea/
*.log
